body {
  padding-top: 50px;
  background-color: #BDBDBD ;
}
body.custom-background{
  background-image: url('../images/project_papper.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
}
a{
  color: #60B2BD ;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar .container{
  text-align: right ;
}
#home{
  height: 600px ;
}
.overlay-bar{
  background-color: #60B2BD;
  position: absolute;
  top: 350px ;
  left: -100px ;
  height: 80px ;
  color: #fff;
  box-shadow: 3px 3px 9px #424242;
}
.overlay-bar:hover{
  box-shadow: 4px 4px 9px #424242;
}
.bannerimg{
  height: 550px ; 
  width: 800px ;
  /*border: 2px solid #704939;*/
}
#about{
  background:url('../images/placeholder_2.jpg') no-repeat ;
  background-size: 100%;
  width: 100% ;
  height: 600px ;
}
.about-title{
  color: #96624D;
}
#footer{
  height: 55px ;
  padding-top: 15px ;
  background-color: #424242 ;
  width: 100% ;
}
#footer p{
  color: #BDBDBD ;
  font-size: 90% ;
}